{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='grid.css')}}">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes id="flash">
    {% for category, message in messages %}
      <div class="alert {{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<main class="flex-shrink-0">
  <FONT COLOR="lime">
    <div class="container">
        <h1 class="mt-5">
          BDII - Proyecto 3</h1>
        <p class="lead">Suba imagen a comparar</p>
        <form name="myForm" action="{{ url_for('search') }}" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" class="form-control-file mb-4 mt-2" id="file" accept="image/x-png,image/jpeg" name="file">
            </div>
 
            <input type="radio" id="kn" name="type" value="k">
            <label for="kn">Búsqueda por Rango</label><br>
            <input type="radio" id="rangw" name="type" value="range">
            <label for="rango">Búsqueda KNN</label><br>
            <div id="x" class="form-text mb-3"> <FONT COLOR="lime"></FONT>Elija un tipo</div>


            <input class="form-control" type="number" min="4" value="16" name="k" id="k">
            
            <div id="kLabel" class="form-text">  <FONT COLOR="lime">
              Seleccione la cantidad de fotos a traer.</div>

            <input class="form-control" step=".01" min="0" max="1" value="0.15" type="number" name="radius" id="radius">
            <div  id="radiusLabel" class="form-text">  <FONT COLOR="lime">
              Seleccione el rango.</div>


            <button  class="btn btn-dark" onclick="loading();">  <FONT COLOR="lime">
              Buscar</button>

            </div>
        </form>
    </div>
    {% if images_output %}
    <div class="container mt-4">
        <section id="pics">
        {% for image in images_output %}
            <div><img src="{{image}}" width="240"></div>
        {% endfor %}
        </section>
    </div>    
    {% endif %}

    </div>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='../functions.js') }}"></script>

{% endblock %}